{% extends 'base.html.twig' %}

{% block title %}Редактирование: {{ lesson.title }} / {{ lesson.course.title }} / StudyOn{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Редактировать урок</h1>

        <div class="d-flex gap-2">
            <button type="submit" form="lesson-form" class="btn btn-success">
                Сохранить
            </button>

            <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}" class="btn btn-danger">
                Отмена
            </a>
        </div>
    </div>

    <div>
        <div class="form-label">Курс</div>
        <div class="form-control bg-body-secondary">{{ lesson.course.title }}</div>
    </div>

    {{ include('lesson/_form.html.twig') }}
{% endblock %}
